{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
            <div class="card mt-4">
                <div class="card-body">
                    <form name="create_user" id="create_user" action="/admin/articles/create" method="post" onSubmit="return confirm('Tạo mới bài viết?');">
                        <div class="form-group mb-3">
                            <label class="mb-2">Tiêu đề<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="title" placeholder="Tiêu đề" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-2">Nội dung<span class="text-danger">*</span></label>
                            <textarea style="box-shadow: none;" name="content" class="form-control" placeholder="Nhập nội dung..." required></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-2">Ngày tạo<span class="text-danger">*</span></label>
                            <input class="form-control" type="date" name="created_at" placeholder="Ngày tạo" required>
                        </div>
                        <div class="text-right d-grid gap-2 d-md-block">
                            <button class="btn btn-success" type="submit" name="submit">Thêm mới</button>
                            <a href="/admin/articles/list" class="btn btn-warning" type="button">Hủy bỏ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
