{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
            <div class="card mt-4">
                <div class="card-body">
                    <form name="create_user" id="create_user" action="/admin/vaccines/create" method="post" onSubmit="return confirm('Tạo mới vaccine?');">
                        <div class="form-group mb-3">
                            <label class="mb-2">Tên vaccine<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="name" placeholder="Tên vaccine" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-2">Xuất xứ<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="source" placeholder="Xuất xứ" required>
                        </div>
                        <div class="text-right d-grid gap-2 d-md-block">
                            <button class="btn btn-success" type="submit" name="submit">Thêm mới</button>
                            <a href="/admin/vaccines/list" class="btn btn-warning" type="button">Hủy bỏ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
